body {
  background-color: tomato;
}

.board {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-width: thin;
  border-style: solid;
}
